
.detailsHero {
    display: flex;
    justify-content: center;
}

.detailsContainer {
    width: 90%;
}

.detailsBox {
    display: flex;
    flex-direction: row;
    margin: 5vh;
    padding: 10vh;
    background-color: rgba(240, 255, 255, 0.568);
}

.detailsProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgDetails {
    height: auto;
    width: 10vw;
}

.detailsText {
    padding: 3vh;
    background-color: rgba(240, 255, 255, 0.322);
}
h2 {

    font-weight: normal !important;
}
.priceDetails {
    margin: 10px;
    background-color: azure;
    padding: 5px;
    border-radius: 5px;
}