*{
    font-family: 'Signika Negative', sans-serif;
    margin: unset;
}

ul {
    list-style: none !important;
}

a {
    text-decoration: none;
    color: unset;
    padding: 5px;
    font-size: larger;
}

.itemsNavPrincipal{
    margin: 0 10px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
   padding: 6px;
    
}

.itemsNavPrincipal :hover {
  
    color: rgb(112, 32, 0);
    border-radius: 10px;
    padding: 5px;
   
  
}
.logoContainer {
    margin-left: 4vw;
  
}
.principalLogo {
    height: 6vh;
    margin-top: 5px;
}
body {
    background-color: hsl(14deg 100% 64%);
    
}
.navBarHome {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-radius: 5px
}
.app {
    width: 95%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.principalNav{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.navList {
    display: flex;
    padding: unset;
}

.navLoginCart{
    display: flex;
    margin-right: 4vw;
    justify-content: space-around;
    width: 10%;
    align-items: center;
}

.loginText {
    padding: 10px;
    background-color: rgb(226, 226, 226);
    border-radius: 40px;
}

.loginContainer :hover {
    color: rgb(112, 32, 0);
    border-radius: 40px;
    padding: 10px;
}
