.cardsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5vh;
    justify-content: space-around;

}

 .bookCardItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 10px;
    margin: auto;
    border: solid transparent;
    border-radius: 5px;
    background-color: rgba(240, 255, 255, 0.507);
    margin-bottom: 5vh;
}


.imgCards {
    height: auto;
    width: 10vw;
}
.titleCards, .priceCards, .authorCards {
    font-weight: lighter;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 1vh;
}

.imgCardsContainer {
    height: 30vh;
    margin-top: 2vh;
    display: flex;
   
}
.btnContainer{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detailsBtn {
    border: none;
    border-radius: 5px;
    padding: 4px;
    height: 5vh;
}

.detailsBtn:hover {
    padding: 6px;
    font-size: 2.5vh;
}