.sendBtn{
    border: none;
    border-radius: 5px;
    padding: 4px;
    height: 5vh;
    width: 6vw;
    margin-left: 7vw;
}

.formContact{
    display: flex;
    flex-direction: column;
    margin: 3vh;
}

.formContainer{
    display: flex;
    justify-content: left;
}

label {
    padding: 0.5vh;
}

#message {
    height: 10vh;

}
input {
    border: none;
    border-radius: 5px;
    padding: 1vh;
    margin: 0.5vh;
    width: 20vw;
}